#### 1. Import relevant libraries

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#### 2. Load data into dataframe

In [2]:
covid_data = pd.read_csv("covid-data.csv")

#### 3. Inspect the dataframe

In [3]:
covid_data.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,5,5,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
covid_data = covid_data[['iso_code','continent','location','date','total_cases','new_cases']]

In [5]:
covid_data.head(5)

  iso_code continent     location        date  total_cases  new_cases
0      AFG      Asia  Afghanistan  24/02/2020            5          5
1      AFG      Asia  Afghanistan  25/02/2020            5          0
2      AFG      Asia  Afghanistan  26/02/2020            5          0
3      AFG      Asia  Afghanistan  27/02/2020            5          0
4      AFG      Asia  Afghanistan  28/02/2020            5          0

In [6]:
covid_data.dtypes

iso_code       object
continent      object
location       object
date           object
total_cases     int64
new_cases       int64
dtype: object

In [7]:
covid_data.shape

(5818, 6)

<img src="mean and mode.jpg" width="500"/>

# i. Mean
<img src="mean.gif" width="500"/>

#### Analyse the mean of the new_cases column using the mean method in numpy

In [8]:
data_mean = np.mean(covid_data["new_cases"])
data_mean

8814.365761430045

#### Analyse the mean of the new_cases column using the mean method in pandas

In [9]:
data_mean = covid_data["new_cases"].mean()
data_mean

8814.365761430045

## ii. Median

#### Check the median of the new_cases column using the median method in numpy

In [10]:
data_median = np.median(covid_data["new_cases"])
data_median

261.0

#### Check the median of the new_cases column using the median method in pandas

In [11]:
data_median = covid_data["new_cases"].median()
data_median

261.0

## iii. Mode

#### Identify the mode of the new_cases column using the mode method

In [12]:
from scipy import stats
data_mode = stats.mode(covid_data["new_cases"])
data_mode

ModeResult(mode=array([0], dtype=int64), count=array([805]))

In [13]:
data_mode[0]

array([0], dtype=int64)

In [14]:
data_mode[0][0]

0

#### Identify the mode of the continent column using the mode method

In [15]:
data_mode = stats.mode(covid_data["continent"])
data_mode

ModeResult(mode=array(['Europe'], dtype=object), count=array([1963]))

## iv. Variance

#### Check the variance of the new_cases column using the var method in numpy

In [16]:
data_variance = np.var(covid_data["new_cases"])
data_variance

451321915.92810047

#### Check the variance of the new_cases column using the var method in pandas

In [17]:
covid_data["new_cases"].var()

451399502.6422019

## v. Standard Deviation
<img src="sd.jpeg" width="500"/>

#### Identify the standard deviation of a dataset using the std method in numpy

In [18]:
data_sd = np.std(covid_data["new_cases"])
data_sd

21244.33844411495

#### Identify the standard deviation of a dataset using the std method in pandas

In [19]:
covid_data["new_cases"].std()

21246.16442189512

## vi. Range

#### Generate the range of a dataset using numpy

In [20]:
data_max = np.max(covid_data["new_cases"])
data_min = np.min(covid_data["new_cases"])

In [21]:
print(data_max,data_min)

287149 0

In [22]:
data_range = data_max - data_min
data_range

287149

#### Generate the range of a dataset using pandas

In [23]:
data_max = covid_data["new_cases"].max()
data_min = covid_data["new_cases"].min()

In [24]:
data_range = data_max - data_min
data_range

287149

## vii. Percentile

#### Identify the percentile of a dataset using numpy

In [25]:
data_percentile = np.percentile(covid_data["new_cases"],60)
data_percentile

591.3999999999996

## viii. Quartile

#### Check the quartile of a dataset using numpy

In [26]:
data_quartile = np.quantile(covid_data["new_cases"],0.75)
data_quartile

3666.0

## ix. Interquartile range (IQR) 
<img src="IQR.jpeg" width="500"/>

#### Analyse the interquartile range (IQR) of a dataset using the stats library

In [27]:
data_IQR = stats.iqr(covid_data["new_cases"], interpolation = 'midpoint')
data_IQR

3641.0

In [28]:
data_IQR = stats.iqr(covid_data["new_cases"])
data_IQR

3642.0

## x. Summary

In [29]:
covid_data.shape

(5818, 6)

In [30]:
covid_data.head()

  iso_code continent     location        date  total_cases  new_cases
0      AFG      Asia  Afghanistan  24/02/2020            5          5
1      AFG      Asia  Afghanistan  25/02/2020            5          0
2      AFG      Asia  Afghanistan  26/02/2020            5          0
3      AFG      Asia  Afghanistan  27/02/2020            5          0
4      AFG      Asia  Afghanistan  28/02/2020            5          0

In [31]:
covid_data.describe()

        total_cases      new_cases
count  5.818000e+03    5818.000000
mean   3.392399e+06    8814.365761
std    7.640506e+06   21246.164422
min    1.000000e+00       0.000000
25%    4.097500e+04      24.000000
50%    1.763050e+05     261.000000
75%    1.317076e+06    3666.000000
max    3.472419e+07  287149.000000