# 5. Booleans and Conditionals
Booleans, named after George Boole, take the values of True or False.

# Exercise 13: Boolean Variables

In [1]:
# 1. Open a new Jupyter Notebook.
# 2. Now, use a Boolean to classify someone as being over 18 using the following code snippet:
over_18 = True
type(over_18)

bool

In [2]:
over_19 = 'true'
type(over_19)

str

In [3]:
#3. Use a Boolean to classify someone as not being over 21:
over_21 = False
type(over_21)

bool

# i. Logical Operators
Booleans may be combined with the and, or, and not logical operators.

In [4]:
# 1. You have to put this into code and first assign True and False to over_18 and over_21:
over_18, over_21 = True, False

In [5]:
#2. Next you can assume the individual is over_18 and over_21:
# AND:-> both are True the Output be True
over_18 and over_21

False

In [6]:
#3. You now assume the individual is over_18 or over_21:
# OR:-> any one is True the Output is True
over_18 or over_21

True

In [7]:
#4. You now assume the individual is not over_18:
not over_18

False

In [8]:
#5. You assume the individual is not over_21 or (over_21 or over_18):

not over_21 or (over_21 or over_18)

# not(False) or (False or True)
# not(False) or (True)
# True or (True)
#True

True

# ii. Comparison Operators
Python objects may be compared using a variety of symbols that evaluate to Booleans.

# Exercise 14: Comparison Operators

In [9]:
### x=3, x==3

In [10]:
# 1. Open a new Jupyter Notebook.
# 2. Now, set age as equal to 20 and include a comparison operator to check whether age is less than 13:
age = 20
age < 13

False

In [11]:
#3. Using the following code snippet, you can check whether age is greater than or equal to 20 and less than or equal to 21:
age >= 20 and age <= 21

True

In [12]:
#4. Now check whether age is equivalent to 21:
age != 21

True

In [13]:
#5. Now, check whether age is equivalent to 19:
age == 19

False

In [14]:
#6. Is 6 equivalent to 6.0 in Python? Let's find out:
6 == 6.0

True

In [15]:
#7. Now find out whether 6 is equivalent to the '6' string:
6 == '6'

False

In [16]:
(age >= 20 and age < 30) or (age >= 30 and age < 40)
# (True and True) or (False and True)
# True or False

True

In [17]:
(20 <= age < 30) or (30 <= age < 40)
# True or False

True

# iii. Comparing Strings
Python uses the convention of alphabetical order to make sense of these comparisons.

# Exercise 15: Comparing Strings

In [18]:
# 1. Open a new Jupyter Notebook.
# 2. Let's compare single letters:
'a' < 'c'

True

In [19]:
#3. Now, let's compare 'New York' and 'San Francisco':
'New York' > 'San Francisco'

False