# 1. Numbers: Operations, Types, and Variables

Addition, subtraction, multiplication, division, and exponentiation are core
operations. the modulus operator and integer division are equally
essential

## i.Basic Math Operations

In [1]:
#1. Here, we are using the addition operator, + in the code:

5 + 2

7

In [2]:
#2. Using the subtraction operator in the code, we can perform subtraction on two numbers:

5 - 2

3

In [3]:
#3. Using the * multiplication operator to multiply the two numbers is done as follows:

5 * 2

10

In [4]:
#4. Now, use the / division operator and observe the output:

5 / 2

2.5

In [5]:
#5. Now the same division can be done using the // operator, which is called integer division. Observe the change in the output:

5 // 2

2

In [6]:
#6. Now, using the ** exponential operator, we can perform exponentiation:

5 ** 2

25

In [7]:
#7. Finally, use the modulus operator in the code and observe the output:

5 % 2

1

## ii. Order of Operations

Parentheses are meaningful in Python. When it comes to computation, Python always
computes what is in parentheses first.

Consider the following expression:5 + 2 * -3

In [8]:
#1. Python will first multiply 2 and â€“3, and then add 5:

5 + 2 * -3

-1

In [9]:
#2. If parentheses are placed around the 5 and 2, we obtain a different result:

(5 + 2) * -3

-21

### Exercise 1: Getting to Know the Order of Operations

In [10]:
#1. Subtract 5 to the 3rd power, which is 53, from 100 and divide the result by 5:

(100 - 5 ** 3) / 5

-5.0

In [11]:
#2. Add 6 to the remainder of 15 divided 4:

6 + 15 % 4

9

In [12]:
#3. Add 2 to the 2nd power, which is 22, to the integer division of 24 and 4:

2 ** 2 + 24 // 4

10

## iii. Spacing in Python

In Python, spaces after a number or symbol do not carry any meaning. So, 5**3 and 5 ** 3 both
result in 125.

# 2. Number Types: Integers and Floats

An integer in Python is classified as a type of int, short for integer.
Floats, by contrast, are Python types represented as decimals.

### Exercise 2: Integer and Float Types

In [13]:
#1. Begin by explicitly determining the type of 6 using the following code:

type(6)

int

In [14]:

#2. Now, enter type(6.0) in the next cell of your notebook:

type(6.0)

float

In [15]:
#3. Now, add 5 to 3.14. Infer the type of their sum:

5 + 3.14

8.14

In [16]:
# 4. Now, convert 7.999999999 to an int:

int(7.999999999)

7

In [17]:
#5. Convert 6 to a float:

float(6)

6.0

## i. Complex Number Types

In [18]:
#Divide 2 + 3j by 1 - 5j, enclosing both operations within parentheses:

(2 + 3j) / (1 - 5j)

(-0.5+0.5j)

# 3. Variables

In Python, variables are memory slots that can store elements of any type.

## i. Variable Assignment

In Python, variables are introduced the same way as in math, by using the equals sign

### Exercise 3: Assigning Variables

In [19]:
#1. Set x as equal to the number 2:

x = 2

In [20]:
x

2

In [21]:
#2. Add 1 to the variable x:

x + 1

3

In [22]:
x

2

In [23]:
#3. Change x to 3.0 and add 1 to x:

x = 3.0
x + 1

4.0

## ii.Changing Types

In [24]:
#1. y starts as an integer:

y = 10


#2. y becomes a float:

y = y-10.0

#3. Check the type of y:

type(y)

float

In [25]:
#1. y starts as an integer:

y = 10

In [26]:
type(y)

int

In [27]:
y=10.0

In [28]:
#3. Check the type of y:

type(y)

float

## iii. Reassigning Variables in Terms of Themselves


It's common in programming to add 1 to a variable; for instance, x = x + 1.

In [ ]:
#x+=1

In [29]:
x=6

In [30]:
x

6

In [31]:
x+=1

In [32]:
x

7

# iv.Variable Names

To avoid confusion, it's recommended to use variable names that make sense to readers.
Instead of using x, the variable may be income or age.

In [33]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Exercise 4: Variable Names

In [34]:
#1. Create a variable called 1st_number and assign it a value of 1:
1st_number = 1

SyntaxError: invalid syntax (Temp/ipykernel_17348/3015352720.py, line 2)

In [35]:
#2. Now, let's try using letters to begin a variable:
first_number = 1

In [36]:
#3. Now, use special characters in a variable name, as in the following code:
my_$ = 1000.00

SyntaxError: invalid syntax (Temp/ipykernel_17348/815551799.py, line 2)

In [37]:
#4. Now, use letters again instead of special characters for the variable name:
my_money = 1000.00

# v. Multiple Variables
Most programs contain multiple variables

### Exercise 5: Multiple Variables in Python

In [38]:
#1. Assign 5 to x and 2 to y:
x = 5
y = 2

In [39]:
#2. Add x to x and subtract y to the second power:
x + x - y ** 2

6

In [40]:
#3. Assign 8 to x and 5 to y in one line:
x, y = 8, 5

In [41]:
#4. Find the integer division of x and y:
x // y

1

# vi. Comments
Comments are extra blocks of code that do not run

### Exercise 6: Comments in Python

In [42]:
#1. Write a comment that states This is a comment:
# This is a comment

In [43]:
#2. Set the pi variable as equal to 3.14. Add a comment above the line stating what you did:
# Set the variable pi equal to 3.14
pi = 3.14

In [44]:
#3. Now, try setting the pi variable as equal to 3.14 again, but add the comment stating what you did on the same line:
pi = 3.14 # Set the variable pi equal to 3.14

In [45]:
# Docstring

"""
In this activity, you will determine the Pythagorean 
distance between three points. 
"""

'\nIn this activity, you will determine the Pythagorean \ndistance between three points. \n'