# 5. Dictionary Keys and Values

In [1]:
employee = {
'name': "Jack Nelson",
'age': 32,
'department': "sales"
}

Dictionaries are like lists. They both share the following properties:

• Both can be used to store values.

• Both can be changed in place and can grow and shrink on demand.

• Both can be nested: a dictionary can contain another dictionary, a list can contain
another list, and a list can contain a dictionary and vice versa.


There are, however, a few rules that you need to remember with Python dictionaries:

• Keys must be unique — no duplicate keys are allowed.

• Keys must be immutable — they can be a string, a number, or a tuple.

# Exercise 28: Using a Dictionary to Store a Movie Record

In [2]:
# 1. Open a Jupyter Notebook.
# 2. Enter the following code in a blank cell:
movie = {
"title": "The Godfather",
"director": "Francis Ford Coppola",
"year": 1972,
"rating": 9.2
}

In [3]:
# 3. Access the information from the dictionary by using a key. For instance, you can use 'year' to find out when the movie was first released:
print(movie['year'])

1972

In [4]:
# 4. Now update a dictionary value:
movie['rating'] = (movie['rating'] + 9.3)/2

#movie['rating'] = 10
print(movie['rating'])

9.25

In [5]:
# 5. Construct a movi e dictionary from scratch and extend it using key-value assignment:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2}

In [6]:
# 6. You can also store a list inside a dictionary and store a dictionary within that dictionary:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
'runtime': 175,
'language': 'English'
}
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

# iii. Dictionary Methods

# Exercise 30: Accessing a Dictionary Using Dictionary Methods

In [7]:
# 1. Open a new Jupyter Notebook.
# 2. Enter the following code in a new cell:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [8]:
# 3. Now, obtain a list of keys in a dictionary by using the keys() method:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [9]:
'''4. As you can't directly iterate a dictionary, you first convert it to a list of tuples using
the items() method, then iterate the resulting list and access it. This is mentioned
in the following code snippet:
'''

for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

# 6. Tuples

# Exercise 31: Exploring Tuple Properties in Our Shopping List

In [10]:
# 1. Open a Jupyter notebook.
# 2. Type the following code in a new cell to initialize a new tuple, t:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [11]:
# 3. Now, as mentioned in the note, enter the following lines of code and observe the error:
#t.append('apple')
t[2] = 'apple'

TypeError: 'tuple' object does not support item assignment

In [12]:
# 4. Now use the following code to add two items, apple and orange, to our tuple, t. This will give us a new tuple. Take note that the existing t tuple remains unchanged:
new =(print(t + ('apple', 'orange')))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [13]:
# 5. Enter the following statements in a new cell and observe the output:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))