In [1]:
import numpy as np
import pandas as pd

# Working with Time Data

In [2]:
pd.Timestamp('2023-07-02')

Timestamp('2023-07-02 00:00:00')

In [3]:
pd.Timestamp('2023-July-02')

Timestamp('2023-07-02 00:00:00')

In [4]:
pd.Timestamp('2023/07/02')

Timestamp('2023-07-02 00:00:00')

In [5]:
pd.Timestamp(2023,7,2,0,0,0)

Timestamp('2023-07-02 00:00:00')

In [6]:
pd.Timestamp(2023,7,2)

Timestamp('2023-07-02 00:00:00')

In [7]:
df = pd.DataFrame({'year': [2021, 2022, 2023],
                   'month': [10, 6, 4],
                   'day': [15, 10, 20]})
print(df)

   year  month  day
0  2021     10   15
1  2022      6   10
2  2023      4   20

In [8]:
ts = pd.to_datetime(df)
print(ts)
print(type(ts))

0   2021-10-15
1   2022-06-10
2   2023-04-20
dtype: datetime64[ns]
<class 'pandas.core.series.Series'>

In [9]:
t = pd.to_datetime('2023 USA 31--12', format='%Y USA %d--%m', errors='raise')
print(t)

2023-12-31 00:00:00

In [10]:
ts = pd.Series(['2021 USA 31--12','2022 ITA 20--11','2023 USA 10--10'])
print(ts)

0    2021 USA 31--12
1    2022 ITA 20--11
2    2023 USA 10--10
dtype: object

In [11]:
t = pd.to_datetime(ts, format='%Y USA %d--%m', errors='ignore')
print(t)

0    2021 USA 31--12
1    2022 ITA 20--11
2    2023 USA 10--10
dtype: object

In [12]:
pd.Timestamp('2023-July-02 11:40', tz='UTC')

Timestamp('2023-07-02 11:40:00+0000', tz='UTC')

In [13]:
pd.Timestamp('2023-July-02 11:40', tz='Europe/Stockholm')

Timestamp('2023-07-02 11:40:00+0200', tz='Europe/Stockholm')

In [14]:
t = pd.Timestamp('2023-July-02 11:40PM')
print(t)
t = t.tz_localize(tz='America/Sao_Paulo')
print(t)

2023-07-02 23:40:00
2023-07-02 23:40:00-03:00

In [15]:
t2 = t.tz_convert('US/Eastern')
print(t2)

2023-07-02 22:40:00-04:00

In [16]:
print(t.year)
print(t.month)
print(t.day)
print(t.hour)
print(t.minute)
print(t.second)
print(t.tz)

2023
7
2
23
40
0
America/Sao_Paulo

In [17]:
t.hour = 12

AttributeError: attribute 'hour' of 'datetime.datetime' objects is not writable

In [18]:
pd.Timedelta('1 Day')

Timedelta('1 days 00:00:00')

In [19]:
t = pd.Timestamp('2023-July-02 10:30AM')
print(t)
dt = pd.Timedelta('1 Hour')
t = t + dt
print(t)

2023-07-02 10:30:00
2023-07-02 11:30:00

In [20]:
t = pd.Timestamp('2023-July-02 10:30AM')
t = t + pd.Timedelta('1 Hour')
print(t)

2023-07-02 11:30:00

In [21]:
pd.Timedelta(1, unit="d")

Timedelta('1 days 00:00:00')

In [22]:
pd.Timedelta(150045, unit="s")

Timedelta('1 days 17:40:45')

In [23]:
pd.Timedelta('3D 5:34:23')

Timedelta('3 days 05:34:23')

In [24]:
t1 = pd.Timestamp('2023-Jan-01 11:30AM')
t2 = pd.Timestamp('2023-Mar-13 4:15PM')
dt = t2 - t1
print(dt)
print(type(dt))

71 days 04:45:00
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [25]:
ts = pd.Series(['00:22:33','00:13:12','00:24:14'])
print(ts)
dt = pd.to_timedelta(ts, errors='raise')
print(dt)

0    00:22:33
1    00:13:12
2    00:24:14
dtype: object
0   0 days 00:22:33
1   0 days 00:13:12
2   0 days 00:24:14
dtype: timedelta64[ns]

In [26]:
pd.date_range('2023/01/01', freq='D', periods=10)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.date_range("2023/01/01", "2023/01/10")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [28]:
pd.date_range("2023/01/01 8:00","2023/01/01 10:00", freq='5T')

DatetimeIndex(['2023-01-01 08:00:00', '2023-01-01 08:05:00',
               '2023-01-01 08:10:00', '2023-01-01 08:15:00',
               '2023-01-01 08:20:00', '2023-01-01 08:25:00',
               '2023-01-01 08:30:00', '2023-01-01 08:35:00',
               '2023-01-01 08:40:00', '2023-01-01 08:45:00',
               '2023-01-01 08:50:00', '2023-01-01 08:55:00',
               '2023-01-01 09:00:00', '2023-01-01 09:05:00',
               '2023-01-01 09:10:00', '2023-01-01 09:15:00',
               '2023-01-01 09:20:00', '2023-01-01 09:25:00',
               '2023-01-01 09:30:00', '2023-01-01 09:35:00',
               '2023-01-01 09:40:00', '2023-01-01 09:45:00',
               '2023-01-01 09:50:00', '2023-01-01 09:55:00',
               '2023-01-01 10:00:00'],
              dtype='datetime64[ns]', freq='5T')

In [29]:
pd.date_range("2023/01/01 8:00","2023/01/01 10:00", periods=10)

DatetimeIndex(['2023-01-01 08:00:00', '2023-01-01 08:13:20',
               '2023-01-01 08:26:40', '2023-01-01 08:40:00',
               '2023-01-01 08:53:20', '2023-01-01 09:06:40',
               '2023-01-01 09:20:00', '2023-01-01 09:33:20',
               '2023-01-01 09:46:40', '2023-01-01 10:00:00'],
              dtype='datetime64[ns]', freq=None)

In [30]:
range = pd.date_range("2023/01/01 8:00","2023/01/01 10:00", periods=10)
tsi = pd.Series(np.random.randn(len(range)), index=range)
print(tsi)

2023-01-01 08:00:00    0.338855
2023-01-01 08:13:20   -0.649151
2023-01-01 08:26:40   -1.242645
2023-01-01 08:40:00   -0.483162
2023-01-01 08:53:20    0.199410
2023-01-01 09:06:40   -0.823257
2023-01-01 09:20:00    1.767299
2023-01-01 09:33:20    0.742714
2023-01-01 09:46:40    0.877898
2023-01-01 10:00:00   -0.416630
dtype: float64

In [31]:
ts = pd.Series(range)
print(ts)

0   2023-01-01 08:00:00
1   2023-01-01 08:13:20
2   2023-01-01 08:26:40
3   2023-01-01 08:40:00
4   2023-01-01 08:53:20
5   2023-01-01 09:06:40
6   2023-01-01 09:20:00
7   2023-01-01 09:33:20
8   2023-01-01 09:46:40
9   2023-01-01 10:00:00
dtype: datetime64[ns]

In [32]:
tsi["2023/01/01 8:00":"2023/01/01 8:30"]

2023-01-01 08:00:00    0.338855
2023-01-01 08:13:20   -0.649151
2023-01-01 08:26:40   -1.242645
dtype: float64

In [33]:
df = pd.read_csv('Data/books.csv')
print(df)

        ID                   Title          Author PublicationDate
0  001276A  The Rise of the Falcon    John Admiral     25-Apr-2018
1  023125B         Controlled mind   Robert Greens     28-Aug-2016
2  005556E       Only love remains  Greta Blooming     17-Feb-2015

In [34]:
df.PublicationDate

0    25-Apr-2018
1    28-Aug-2016
2    17-Feb-2015
Name: PublicationDate, dtype: object

In [35]:
df['PublicationDate'] = pd.to_datetime(df.PublicationDate)
print(df)

        ID                   Title          Author PublicationDate
0  001276A  The Rise of the Falcon    John Admiral      2018-04-25
1  023125B         Controlled mind   Robert Greens      2016-08-28
2  005556E       Only love remains  Greta Blooming      2015-02-17

In [36]:
df.PublicationDate

0   2018-04-25
1   2016-08-28
2   2015-02-17
Name: PublicationDate, dtype: datetime64[ns]

In [37]:
df = pd.read_csv('Data/books.csv', parse_dates = [3])
print(df)

        ID                   Title          Author PublicationDate
0  001276A  The Rise of the Falcon    John Admiral      2018-04-25
1  023125B         Controlled mind   Robert Greens      2016-08-28
2  005556E       Only love remains  Greta Blooming      2015-02-17