In [2]:
import numpy as np 
import pandas as pd

# Arithmetic with DataFrames

In [3]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df1)

   A  B  C  D
a  9  0  6  5
b  3  7  5  1
c  5  3  4  6
d  5  1  9  3

In [4]:
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df2)

   A  B  C  D
a  8  6  9  6
b  3  2  9  3
c  4  1  0  5
d  5  6  9  1

In [5]:
print(df1 + df2)

    A  B   C   D
a  17  6  15  11
b   6  9  14   4
c   9  4   4  11
d  10  7  18   4

In [6]:
print(df1 - 2*df2)

   A   B   C  D
a -7 -12 -12 -7
b -3   3 -13 -5
c -3   1   4 -4
d -5 -11  -9  1

In [7]:
print(df1 > df2)

       A      B      C      D
a   True  False  False  False
b  False   True  False  False
c   True   True   True   True
d  False  False  False   True

In [8]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['B','C','D','E'])
print(df1)
print(df2)

   A  B  C  D
a  8  7  8  5
b  6  5  5  2
c  1  2  9  3
d  5  3  9  6
   B  C  D  E
a  9  1  2  6
b  8  8  9  0
c  5  4  7  9
d  4  7  8  5

In [9]:
print(df1 + df2)

    A   B   C   D   E
a NaN  16   9   7 NaN
b NaN  13  13  11 NaN
c NaN   7  13  10 NaN
d NaN   7  16  14 NaN

In [10]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

   A  B  C  D
a  3  5  3  3
b  0  3  6  0
c  8  9  2  3
d  4  7  8  4
   A  B  C  D
b  9  6  2  4
c  7  2  3  5
d  3  3  9  3
e  1  4  7  1

In [11]:
print(df1 + df2)

      A     B     C    D
a   NaN   NaN   NaN  NaN
b   9.0   9.0   8.0  4.0
c  15.0  11.0   5.0  8.0
d   7.0  10.0  17.0  7.0
e   NaN   NaN   NaN  NaN

In [12]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
ser = pd.Series(np.random.randint(10, size=4), 
                     index=['A','B','C','D'])
print(df1)
print(ser)

   A  B  C  D
a  7  0  6  8
b  1  7  7  9
c  2  2  9  7
d  2  9  7  3
A    0
B    3
C    6
D    1
dtype: int32

In [13]:
print(df1 + ser)

   A   B   C   D
a  7   3  12   9
b  1  10  13  10
c  2   5  15   8
d  2  12  13   4

In [14]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
ser = pd.Series(np.random.randint(10, size=4), 
                     index=['B','C','D','E'])
print(df1)
print(ser)

   A  B  C  D
a  1  0  9  0
b  2  1  8  8
c  9  1  9  4
d  0  1  8  0
B    1
C    3
D    1
E    5
dtype: int32

In [15]:
print(df1 + ser)

    A    B     C    D   E
a NaN  1.0  12.0  1.0 NaN
b NaN  2.0  11.0  9.0 NaN
c NaN  2.0  12.0  5.0 NaN
d NaN  2.0  11.0  1.0 NaN

# Binary arithmetic methods

In [16]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

   A  B  C  D
a  6  6  7  6
b  7  2  8  1
c  3  3  8  3
d  2  5  2  4
   A  B  C  D
b  2  4  4  1
c  1  1  8  8
d  2  1  5  4
e  0  3  8  5

In [17]:
df = df1.add(df2)
print(df)

     A    B     C     D
a  NaN  NaN   NaN   NaN
b  9.0  6.0  12.0   2.0
c  4.0  4.0  16.0  11.0
d  4.0  6.0   7.0   8.0
e  NaN  NaN   NaN   NaN

In [18]:
df = df1 + df2  
print(df)

     A    B     C     D
a  NaN  NaN   NaN   NaN
b  9.0  6.0  12.0   2.0
c  4.0  4.0  16.0  11.0
d  4.0  6.0   7.0   8.0
e  NaN  NaN   NaN   NaN

In [19]:
ser = pd.Series([1,1,1,1],index=['A','B','C','D'])
print(ser)

A    1
B    1
C    1
D    1
dtype: int64

In [20]:
df = df1.add(ser)
print(df)

   A  B  C  D
a  7  7  8  7
b  8  3  9  2
c  4  4  9  4
d  3  6  3  5

In [21]:
df = df1 + ser
print(df)

   A  B  C  D
a  7  7  8  7
b  8  3  9  2
c  4  4  9  4
d  3  6  3  5

In [22]:
ser = pd.Series([1,2,3,4], index=['a','b','c','d'])

df = df1.add(ser, axis=0) # df.add(df2, axis='index')
print(df)

   A  B   C  D
a  7  7   8  7
b  9  4  10  3
c  6  6  11  6
d  6  9   6  8

In [23]:
df = df1 + ser
print(df)

    A   B   C   D   a   b   c   d
a NaN NaN NaN NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN NaN NaN NaN

In [24]:
tuples = [('x', 'a'), ('x', 'b'), ('y', 'a'), ('y', 'b')]
index = pd.MultiIndex.from_tuples(tuples, names=['first','second'])
tuples = [('X', 'A'), ('X', 'B'), ('Y', 'A'), ('Y', 'B')]
columns = pd.MultiIndex.from_tuples(tuples, names=['high','low'])
dfm = pd.DataFrame(np.arange(1,17).reshape(4,4) , index = index, columns = columns)
print(dfm)

high           X       Y
low            A   B   A   B
first second
x     a        1   2   3   4
      b        5   6   7   8
y     a        9  10  11  12
      b       13  14  15  16

In [25]:
ser = pd.Series([10,20], index=['A','B'])
df = dfm.sub(ser, level='low')
print(df)

high          X      Y
low           A   B  A   B
first second
x     a      -9 -18 -7 -16
      b      -5 -14 -3 -12
y     a      -1 -10  1  -8
      b       3  -6  5  -4

In [26]:
ser = pd.Series([10,20], index=['X','Y'])
df = dfm.sub(ser, level='high')
print(df)

high          X      Y
low           A  B   A   B
first second
x     a      -9 -8 -17 -16
      b      -5 -4 -13 -12
y     a      -1  0  -9  -8
      b       3  4  -5  -4

In [27]:
ser = pd.Series([10,20], index=['a','b'])
df = dfm.sub(ser, level='second',axis=0)
print(df)

high           X       Y
low            A   B   A   B
first second
x     a       -9  -8  -7  -6
      b      -15 -14 -13 -12
y     a       -1   0   1   2
      b       -7  -6  -5  -4

In [28]:
ser = pd.Series([10,20], index=['x','y'])
df = dfm.sub(ser, level='first',axis=0)
print(df)

high           X      Y
low            A   B  A  B
first second
x     a       -9  -8 -7 -6
      b       -5  -4 -3 -2
y     a      -11 -10 -9 -8
      b       -7  -6 -5 -4

In [29]:
df3 = pd.DataFrame(np.random.randint(10, size=4).reshape(2,2), 
                     index=['a','b'], 
                     columns=['A','B'])
print(df3)

   A  B
a  3  2
b  4  3

In [30]:
df= dfm.add(df3, axis=1, level=1)
print(df)

high           X       Y
low            A   B   A   B
first second
x     a        4   4   6   6
      b        9   9  11  11
y     a       12  12  14  14
      b       17  17  19  19

In [31]:
df1

   A  B  C  D
a  6  6  7  6
b  7  2  8  1
c  3  3  8  3
d  2  5  2  4

In [32]:
row = df1.iloc[0]
print(row)
column = df1['A']
print(column)

A    6
B    6
C    7
D    6
Name: a, dtype: int32
a    6
b    7
c    3
d    2
Name: A, dtype: int32

In [33]:
df = df1.mul(column, axis=0)
print(df)

    A   B   C   D
a  36  36  42  36
b  49  14  56   7
c   9   9  24   9
d   4  10   4   8

In [34]:
df = df1.mul(row, axis=1)
print(df)

    A   B   C   D
a  36  36  49  36
b  42  12  56   6
c  18  18  56  18
d  12  30  14  24

In [35]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

column = df2['A']
print(column)

   A  B  C  D
a  2  2  4  8
b  7  9  1  7
c  1  6  1  7
d  8  5  1  4
   A  B  C  D
b  3  3  3  4
c  7  6  3  8
d  2  2  0  1
e  0  3  6  9
b    3
c    7
d    2
e    0
Name: A, dtype: int32

In [36]:
df = df1.loc['b':'d',['A','B']]
print(df)

   A  B
b  7  9
c  1  6
d  8  5

In [37]:
df = df2.loc['b':'d',['A','B']].mul(column, axis=0)
print(df)

      A     B
b   9.0   9.0
c  49.0  42.0
d   4.0   4.0
e   NaN   NaN

## The relative binary methods

In [38]:
print(df / 1)
print(df.div(1))

      A     B
b   9.0   9.0
c  49.0  42.0
d   4.0   4.0
e   NaN   NaN
      A     B
b   9.0   9.0
c  49.0  42.0
d   4.0   4.0
e   NaN   NaN

In [39]:
print(1 / df)
print(df.rdiv(1))

          A         B
b  0.111111  0.111111
c  0.020408  0.023810
d  0.250000  0.250000
e       NaN       NaN
          A         B
b  0.111111  0.111111
c  0.020408  0.023810
d  0.250000  0.250000
e       NaN       NaN

## Boolean operations

In [40]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

   A  B  C  D
a  6  4  0  1
b  8  7  7  9
c  1  4  5  6
d  1  7  4  4
   A  B  C  D
a  2  5  9  4
b  0  0  5  3
c  1  1  4  9
d  9  8  6  5

In [41]:
print(df1 > df2)

       A      B      C      D
a   True  False  False  False
b   True   True   True   True
c  False   True   True  False
d  False  False  False  False

In [42]:
df = df1[df1 > df2]
print(df)

     A    B    C    D
a  6.0  NaN  NaN  NaN
b  8.0  7.0  7.0  9.0
c  NaN  4.0  5.0  NaN
d  NaN  NaN  NaN  NaN

In [43]:
df = df1.lt(df2) # df1 > df2 
print(df)

       A      B      C      D
a  False   True   True   True
b  False  False  False  False
c  False  False  False   True
d   True   True   True   True

In [44]:
df = df1.lt(df2['A'], axis=0)
print(df)

       A      B      C      D
a  False  False   True   True
b  False  False  False  False
c  False  False  False  False
d   True   True   True   True