In [1]:
import numpy as np
import pandas as pd

# Read and Write CSV Files

In [2]:
df = pd.read_csv('Data/books.csv')

In [3]:
print(df)

        ID                   Title          Author PublicationDate
0  001276A  The Rise of the Falcon    John Admiral     25-Apr-2018
1  023125B         Controlled mind   Robert Greens     28-Aug-2016
2  005556E       Only love remains  Greta Blooming     17-Feb-2015

In [4]:
df = pd.read_table('Data/books2.csv', sep=';')

In [5]:
print(df)

        ID                   Title          Author PublicationDate
0  001276A  The Rise of the Falcon    John Admiral     25-Apr-2018
1  023125B         Controlled mind   Robert Greens     28-Aug-2016
2  005556E       Only love remains  Greta Blooming     17-Feb-2015

In [6]:
pd.read_csv('Data/books.csv', nrows=2)

        ID                   Title         Author PublicationDate
0  001276A  The Rise of the Falcon   John Admiral     25-Apr-2018
1  023125B         Controlled mind  Robert Greens     28-Aug-2016

In [7]:
df.to_csv('Data/books_saved.csv')

# Read and Write Microsoft Excel Files

In [8]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ajantha\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\ajantha\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
xlssource = pd.ExcelFile('Data/books.xlsx')
df = pd.read_excel(xlssource, 'Sheet1')
df

          ID                   Title          Author PublicationDate
0    001276A  The Rise of the Falcon    John Admiral      2018-04-25
1   023125B          Controlled mind   Robert Greens      2016-08-28
2    005556E       Only love remains  Greta Blooming      2015-02-17

In [10]:
XLSWriter = pd.ExcelWriter('Data/newbooks2.xlsx')

In [11]:
df.to_excel(XLSWriter, 'Sheet1')

In [12]:
XLSWriter.save()

# Write and read data in binary format

In [13]:
df = pd.read_csv('Data/books.csv')
df

        ID                   Title          Author PublicationDate
0  001276A  The Rise of the Falcon    John Admiral     25-Apr-2018
1  023125B         Controlled mind   Robert Greens     28-Aug-2016
2  005556E       Only love remains  Greta Blooming     17-Feb-2015

In [14]:
df.to_pickle('Data/newbooks.dat')

In [15]:
pd.read_pickle('Data/newbooks.dat')

        ID                   Title          Author PublicationDate
0  001276A  The Rise of the Falcon    John Admiral     25-Apr-2018
1  023125B         Controlled mind   Robert Greens     28-Aug-2016
2  005556E       Only love remains  Greta Blooming     17-Feb-2015