In [1]:
import numpy as np
import pandas as pd

# Apply Functions on a Dataframe

In [2]:
df = pd.DataFrame(np.random.rand(16).reshape(4,4),
                  index=['a','b','c','d'],
                  columns=['A','B','C','D'])
print(df)

          A         B         C         D
a  0.284300  0.957350  0.857597  0.295542
b  0.465856  0.907399  0.574298  0.704099
c  0.238552  0.864470  0.502907  0.783835
d  0.884492  0.727425  0.027823  0.463653

In [3]:
df2 = np.exp(df)
print(df2)

          A         B         C         D
a  1.328832  2.604786  2.357490  1.343855
b  1.593377  2.477870  1.775883  2.022024
c  1.269410  2.373747  1.653522  2.189853
d  2.421753  2.069744  1.028213  1.589871

In [4]:
type(df2)

pandas.core.frame.DataFrame

In [5]:
np.asarray(df2)

array([[1.32883189, 2.60478576, 2.35748964, 1.34385511],
       [1.59337727, 2.47786969, 1.77588347, 2.02202439],
       [1.26940967, 2.37374737, 1.65352173, 2.18985325],
       [2.42175276, 2.06974446, 1.02821346, 1.58987074]])

In [6]:
np.max(df)

C:\Users\AJANTHA\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

A    0.884492
B    0.957350
C    0.857597
D    0.783835
dtype: float64

In [7]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [8]:
df.apply(np.sum)

A    12
B    15
C    18
dtype: int64

In [9]:
df.apply(np.sum, axis=1)

a     6
b    15
c    24
dtype: int64

In [10]:
df2 = df.apply(np.sqrt)
print(df2)

          A         B         C
a  1.000000  1.414214  1.732051
b  2.000000  2.236068  2.449490
c  2.645751  2.828427  3.000000

In [11]:
def dubble_up(x):
    return x * 2

df2 = df.apply(dubble_up)
print(df2)

    A   B   C
a   2   4   6
b   8  10  12
c  14  16  18

In [12]:
df.apply(lambda x: x.max() - x.min())

A    6
B    6
C    6
dtype: int64

In [13]:
df.apply(lambda x: x.max() - x.min(), axis=1)

a    2
b    2
c    2
dtype: int64

In [14]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [15]:
def maximus(x):
    return np.max(np.max(x))

In [16]:
df.pipe(maximus)

C:\Users\AJANTHA\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

9

In [17]:
df.apply(maximus)

A    7
B    8
C    9
dtype: int32

In [18]:
df.pipe(np.max).pipe(np.max)

C:\Users\AJANTHA\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

9

In [19]:
step1 = df.pipe(np.max)
print(step1)
step2 = step1.pipe(np.max)
print(step2)

A    7
B    8
C    9
dtype: int64
9

In [20]:
def dubble_up(x):
    return x * 2

df.pipe(dubble_up).pipe(np.mean).pipe(lambda x: x-2)

C:\Users\AJANTHA\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

A     6.0
B     8.0
C    10.0
dtype: float64

In [21]:
df.apply(dubble_up).apply(np.mean).apply(lambda x: x-2)

A     6.0
B     8.0
C    10.0
dtype: float64

In [22]:
def adder(a, b):
    return a + b

In [23]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [24]:
df2 = df.pipe(adder, 2)
print(df2)

   A   B   C
a  3   4   5
b  6   7   8
c  9  10  11

In [25]:
print(df)
df2 = pd.DataFrame(np.repeat(1,9).reshape(3,3), 
                      index=['a','b','c'], 
                      columns=['A','B','C'])
print(df2)
df3 = df.pipe(adder, df2)
print(df3)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9
   A  B  C
a  1  1  1
b  1  1  1
c  1  1  1
   A  B   C
a  2  3   4
b  5  6   7
c  8  9  10

In [26]:
df2 = df.applymap(dubble_up)
print(df2)

    A   B   C
a   2   4   6
b   8  10  12
c  14  16  18

In [27]:
ser = pd.Series([1,3,5,7,9,11])
ser.map(dubble_up)

0     2
1     6
2    10
3    14
4    18
5    22
dtype: int64