In [1]:
import numpy as np
import pandas as pd

# Shifting

In [2]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                  index=['a','b','c'],
                  columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [3]:
df2 = df.shift(1)
print(df2)

     A    B    C
a  NaN  NaN  NaN
b  1.0  2.0  3.0
c  4.0  5.0  6.0

In [4]:
df2 = df.shift(1, fill_value=0)
print(df2)

   A  B  C
a  0  0  0
b  1  2  3
c  4  5  6

In [5]:
df2 = df.shift(1)
df2.iloc[0] = df.iloc[2]
print(df2)

     A    B    C
a  7.0  8.0  9.0
b  1.0  2.0  3.0
c  4.0  5.0  6.0

In [6]:
df2

     A    B    C
a  7.0  8.0  9.0
b  1.0  2.0  3.0
c  4.0  5.0  6.0

In [7]:
df2 = df.shift(1)
df2 = df2.drop(['a'])
print(df2)

     A    B    C
b  1.0  2.0  3.0
c  4.0  5.0  6.0

In [8]:
df2 = df.shift(-2)
print(df2)

     A    B    C
a  7.0  8.0  9.0
b  NaN  NaN  NaN
c  NaN  NaN  NaN

In [9]:
df2 = df.shift(1, axis=1)
print(df2)

    A  B  C
a NaN  1  2
b NaN  4  5
c NaN  7  8

In [10]:
df2 = df.shift(-1, axis=1)
print(df2)

   A  B   C
a  2  3 NaN
b  5  6 NaN
c  8  9 NaN

# Reshape

In [11]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                index=['a','b','c'],
                columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [12]:
dfs = df.stack()
print(dfs)

a  A    1
   B    2
   C    3
b  A    4
   B    5
   C    6
c  A    7
   B    8
   C    9
dtype: int32

In [13]:
print(dfs.unstack())

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [14]:
index = pd.MultiIndex.from_tuples([('x','a'),
                                   ('x','b'),
                                   ('y','a'),
                                   ('y','b')])
columns = pd.MultiIndex.from_tuples([('X','A'),
                                     ('X','B'),
                                     ('Y','A'),
                                     ('Y','B')])
dfm = pd.DataFrame(np.arange(1,17).reshape(4,4),
                     index=index,
                     columns=columns)
print(dfm)

      X       Y
      A   B   A   B
x a   1   2   3   4
  b   5   6   7   8
y a   9  10  11  12
  b  13  14  15  16

In [15]:
print(dfm.stack(0)) # print(dfm.stack(level=0))

        A   B
x a X   1   2
    Y   3   4
  b X   5   6
    Y   7   8
y a X   9  10
    Y  11  12
  b X  13  14
    Y  15  16

In [16]:
print(dfm.unstack(0)) #print(dfm.stack(level=0))

   X             Y
   A      B      A      B
   x   y  x   y  x   y  x   y
a  1   9  2  10  3  11  4  12
b  5  13  6  14  7  15  8  16

## Pivoting

In [17]:
df = pd.DataFrame([['red','x',1,1],
                   ['red','x',0,1],
                   ['black','y',0,2],
                   ['red','y',1,0],
                   ['red','y',2,0],
                   ['black','x',2,1]],
                  columns=['A','B','C','D'])
print(df)

       A  B  C  D
0    red  x  1  1
1    red  x  0  1
2  black  y  0  2
3    red  y  1  0
4    red  y  2  0
5  black  x  2  1

In [18]:
table = pd.pivot_table(df, values=['C','D'],
                       index=['A'],
                       columns=['B'],
                       aggfunc=np.sum)
print(table)

       C     D
B      x  y  x  y
A
black  2  0  1  2
red    1  3  2  0

In [19]:
table = pd.pivot_table(df, values=['C','D'],
                       index=['A'],
                       columns=['B'],
                       aggfunc={'C': np.sum,
                                'D': [min, max, np.mean]})
print(table)

        C      D
      sum    max    mean      min
B       x  y   x  y    x    y   x  y
A
black   2  0   1  2  1.0  2.0   1  2
red     1  3   1  0  1.0  0.0   1  0

# Iteration

In [20]:
ser = pd.Series(np.arange(1,12))
print(ser)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int32

In [21]:
for i in ser:
    print(i, ' ', np.sqrt(i))

1   1.0
2   1.4142135623730951
3   1.7320508075688772
4   2.0
5   2.23606797749979
6   2.449489742783178
7   2.6457513110645907
8   2.8284271247461903
9   3.0
10   3.1622776601683795
11   3.3166247903554

In [22]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                 index=['a','b','c'],
                 columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [23]:
for i in df:
    print(i)

A
B
C

In [24]:
for i in df:
    print(df[i])

a    1
b    4
c    7
Name: A, dtype: int32
a    2
b    5
c    8
Name: B, dtype: int32
a    3
b    6
c    9
Name: C, dtype: int32

In [25]:
for i in df:
    for j in df[i]:
        print(j)

1
4
7
2
5
8
3
6
9

In [26]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                 index=['a','b','c'],
                 columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [27]:
for label, ser in df.items():
    print(label)
    print(ser)

A
a    1
b    4
c    7
Name: A, dtype: int32
B
a    2
b    5
c    8
Name: B, dtype: int32
C
a    3
b    6
c    9
Name: C, dtype: int32

In [28]:
for index, row in df.iterrows():
    print(index)
    print(row)

a
A    1
B    2
C    3
Name: a, dtype: int32
b
A    4
B    5
C    6
Name: b, dtype: int32
c
A    7
B    8
C    9
Name: c, dtype: int32

In [29]:
for row in df.itertuples():
    print(row)
    print(row.A)
    print(row.B)
    print(row.C)  
    print(row.Index)

Pandas(Index='a', A=1, B=2, C=3)
1
2
3
a
Pandas(Index='b', A=4, B=5, C=6)
4
5
6
b
Pandas(Index='c', A=7, B=8, C=9)
7
8
9
c