In [1]:
import pandas as pd
import numpy as np

# Adding data to a DataFrame

In [2]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df1)

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1

In [3]:
df2 = pd.DataFrame(np.zeros(16).reshape(4,4), 
                     index=['e','f','g','h'], 
                     columns=['A','B','C','D'])
print(df2)

     A    B    C    D
e  0.0  0.0  0.0  0.0
f  0.0  0.0  0.0  0.0
g  0.0  0.0  0.0  0.0
h  0.0  0.0  0.0  0.0

## append()

In [4]:
df = df1.append(df2)
print(df)

     A    B    C    D
a  2.0  6.0  3.0  0.0
b  2.0  3.0  5.0  8.0
c  5.0  6.0  3.0  4.0
d  7.0  4.0  4.0  1.0
e  0.0  0.0  0.0  0.0
f  0.0  0.0  0.0  0.0
g  0.0  0.0  0.0  0.0
h  0.0  0.0  0.0  0.0

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_5204\944872594.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

In [5]:
ser = pd.Series([7,7,7,7], index=['A','B','C','D'])
print(ser)

A    7
B    7
C    7
D    7
dtype: int64

In [6]:
df1.append(ser)

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_5204\2266667057.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(ser)

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [7]:
df2 = df1.append(ser,ignore_index=True)
print(df2)

   A  B  C  D
0  2  6  3  0
1  2  3  5  8
2  5  6  3  4
3  7  4  4  1
4  7  7  7  7

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_5204\3453477330.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df1.append(ser,ignore_index=True)

In [8]:
ser = pd.Series([7,7,7,7], index=['A','B','C','D'], name='e')
print(ser)

A    7
B    7
C    7
D    7
Name: e, dtype: int64

In [9]:
df2 = df1.append(ser)   # df1.append(ser,ignore_index=False)
print(df2)

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
e  7  7  7  7

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_5204\3051713791.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df1.append(ser)   # df1.append(ser,ignore_index=False)

In [10]:
ser.name = 'z'
df2 = df1.append(ser)
print(df2)

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
z  7  7  7  7

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_5204\2519534295.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df1.append(ser)

In [11]:
df2 = df1.append([ser,ser+1,ser+2])
print(df2)

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
z  7  7  7  7
z  8  8  8  8
z  9  9  9  9

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_5204\2347551248.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df1.append([ser,ser+1,ser+2])

## concat()

In [12]:
df1

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1

In [13]:
df2

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
z  7  7  7  7
z  8  8  8  8
z  9  9  9  9

In [14]:
df = pd.concat([df1,df2])
print(df)

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
z  7  7  7  7
z  8  8  8  8
z  9  9  9  9

In [15]:
df = pd.concat([df1,df2,df1])
print(df)

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1
z  7  7  7  7
z  8  8  8  8
z  9  9  9  9
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1

In [16]:
ser = pd.Series([7,7,7,7], index=['a','b','c','d'], name='E')
print(ser)

a    7
b    7
c    7
d    7
Name: E, dtype: int64

In [17]:
df1

   A  B  C  D
a  2  6  3  0
b  2  3  5  8
c  5  6  3  4
d  7  4  4  1

In [18]:
df = pd.concat([df1,ser],axis=1)
print(df)

   A  B  C  D  E
a  2  6  3  0  7
b  2  3  5  8  7
c  5  6  3  4  7
d  7  4  4  1  7

In [19]:
ser = pd.Series([7,7,7,7,7], index=['a','c','d','e','f'], name='E')
df = pd.concat([df1,ser],axis=1)
print(df)

     A    B    C    D    E
a  2.0  6.0  3.0  0.0  7.0
b  2.0  3.0  5.0  8.0  NaN
c  5.0  6.0  3.0  4.0  7.0
d  7.0  4.0  4.0  1.0  7.0
e  NaN  NaN  NaN  NaN  7.0
f  NaN  NaN  NaN  NaN  7.0

In [20]:
ser = pd.Series([7,7,7,7,7], index=['a','c','d','e','f'], name='E')
df = pd.concat([df1,ser],axis=1,join='inner')
print(df)

   A  B  C  D  E
a  2  6  3  0  7
c  5  6  3  4  7
d  7  4  4  1  7

In [21]:
ser = pd.Series([7,7,7,7], index=['a','b','c','d'], name='E')
ser2 = ser + 1
ser3 = ser + 2
df = pd.concat([df1,ser,ser2,ser3,df1],axis=1)
print(df)

   A  B  C  D  E  E  E  A  B  C  D
a  2  6  3  0  7  8  9  2  6  3  0
b  2  3  5  8  7  8  9  2  3  5  8
c  5  6  3  4  7  8  9  5  6  3  4
d  7  4  4  1  7  8  9  7  4  4  1

## Merge

In [22]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['B','C','D','E'])
print(df1)
print(df2)

   A  B  C  D
a  2  0  8  5
b  3  2  2  6
c  9  9  5  9
d  1  8  3  0
   B  C  D  E
b  5  0  8  3
c  9  2  1  2
d  6  7  9  2
e  6  8  5  7

In [23]:
df = pd.merge(df1,df2, on = 'B', how='left')
print(df)

   A  B  C_x  D_x  C_y  D_y    E
0  2  0    8    5  NaN  NaN  NaN
1  3  2    2    6  NaN  NaN  NaN
2  9  9    5    9  2.0  1.0  2.0
3  1  8    3    0  NaN  NaN  NaN

In [24]:
df = pd.merge(df1,df2, on = 'B', how='right')
print(df)

     A  B  C_x  D_x  C_y  D_y  E
0  NaN  5  NaN  NaN    0    8  3
1  9.0  9  5.0  9.0    2    1  2
2  NaN  6  NaN  NaN    7    9  2
3  NaN  6  NaN  NaN    8    5  7

In [25]:
df = pd.merge(df1,df2, on = 'B', how='outer')
print(df)

     A  B  C_x  D_x  C_y  D_y    E
0  2.0  0  8.0  5.0  NaN  NaN  NaN
1  3.0  2  2.0  6.0  NaN  NaN  NaN
2  9.0  9  5.0  9.0  2.0  1.0  2.0
3  1.0  8  3.0  0.0  NaN  NaN  NaN
4  NaN  5  NaN  NaN  0.0  8.0  3.0
5  NaN  6  NaN  NaN  7.0  9.0  2.0
6  NaN  6  NaN  NaN  8.0  5.0  7.0

In [26]:
df = df1.merge(df2,on = 'B', how='inner')
print(df)

   A  B  C_x  D_x  C_y  D_y  E
0  9  9    5    9    2    1  2

In [27]:
df = pd.merge(df1,df2,on = 'B')
print(df)

   A  B  C_x  D_x  C_y  D_y  E
0  9  9    5    9    2    1  2