# 4.Strings: Concatenation, Methods, and input()

In Python, anything that goes between 'single' or "double" quotes is considered
a string.


Examples include 'hello', "hello", 'HELLoo00', '12345', and 'fun_characters: !@ #$%^&*('.

# Exercise 7: String Error Syntax

In [1]:
#1. Open a Jupyter Notebook.
#2. Enter a valid string:
bookstore = 'City Lights'

In [2]:
#3. Now enter an invalid string:
bookstore = 'City Lights"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_19648/4089761223.py, line 2)

In [3]:
#4. Now you need to enter a valid string format again, as in the following code snippet:
bookstore = "Moe's"

In [4]:
#5. Now add the invalid string again:
bookstore = 'Moe's'

SyntaxError: invalid syntax (Temp/ipykernel_19648/421309956.py, line 2)

In [5]:
#Escape Sequences with Quotes

bookstore = 'Moe\'s'

bookstore

"Moe's"

In [6]:
#Multi-Line Strings
vacation_note = '''
During our vacation to San Francisco, we waited in a long line by
Powell St. Station t
o take the cable car. Tap dancers performed on
wooden boards. By the time our cable car arrived, we started looking
online for a good place to eat. We're heading to North Beach.
'''

# i.The print() Function

The print() function is used to display information to the user, or to the developer.

# Exercise 8: Displaying Strings

In [7]:
#1. Open a new Jupyter Notebook.
#2. Define a greeting variable with the value 'Hello'. Display the greeting using the print() function:
greeting = 'Hello'
print(greeting)

Hello

In [8]:
#3. Display the value of greeting without using the print() function:
greeting

'Hello'

In [9]:
#4. Consider the following sequence of code in a single cell in a Jupyter Notebook:
spanish_greeting = 'Hola.'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan.'

In [10]:
#5. Display the Spanish greeting:
spanish_greeting = 'Hola.'
print(spanish_greeting)

Hola.

In [11]:
#6. Now, display the Arabic greeting message, as mentioned in the following code snippet:
arabic_greeting = 'Ahlan wa sahlan.'
print(arabic_greeting)

Ahlan wa sahlan.

# ii.String Operations and Concatenation

+ operator combines two strings into one and is referred to as string concatenation.
* operator repeats a string.

# Exercise 9: String Concatenation

In [12]:
#1. Open a new Jupyter Notebook.
#2. Combine the spanish_greeting we used in Exercise 8, Displaying Strings, with 'Senor.' using the + operator and display the results:
spanish_greeting = 'Hola'
print(spanish_greeting + 'Senor.')

HolaSenor.

In [13]:
#3. Now, combine spanish_greeting with 'Senor.' using the + operator, but this time, include a space:
spanish_greeting = 'Hola '
print(spanish_greeting + 'Senor.')

Hola Senor.

In [14]:
#4. Display the greeting 5 times using the * multiplication operator:
greeting = 'Hello'
print(greeting * 5)

HelloHelloHelloHelloHello

In [15]:
#4. Display the greeting 5 times using the * multiplication operator:
greeting = 'Hello '
print(greeting * 5)

Hello Hello Hello Hello Hello

# iii. String Interpolation

In [16]:
#Comma Separators
italian_greeting = 'Ciao'
print('Should we greet people with', italian_greeting, 'in North Beach?')

Should we greet people with Ciao in North Beach?

In [17]:
#Format

owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(owner,age))

The founder of City Lights Bookstore, Lawrence Ferlinghetti, is now 100 years old.

In [18]:
#Format

owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(age,owner))

The founder of City Lights Bookstore, 100, is now Lawrence Ferlinghetti years old.

In [19]:
#The len() Function

len(arabic_greeting)

16

# iv. String Methods

All Python types, including strings, have their own methods. These methods generally
provide shortcuts for implementing useful tasks.

# Exercise 10: String Methods#

In [20]:
#1. Set a new variable, called name, to any name that you like:
name = 'Corey'

In [21]:
#2. Now, convert the name into lowercase letters using the lower() function

name.lower()

'corey'

In [22]:
#3. Now, capitalize the name using the capitalize() function:
name.capitalize()

'Corey'

In [23]:
#4. Convert the name into uppercase letters using upper():
name.upper()

'COREY'

In [24]:
#5. Finally, count the number of o instances in the word 'Corey':
name.count('o')

1

In [25]:
Ajan="Happpppyyy"

In [26]:
Ajan.count('y')

3

# v. Casting

It's common for numbers to be expressed as strings when dealing with input and
output. Note that '5' and 5 are different types.

# Exercise 11: Types and Casting

In [27]:
#1. Open a new Jupyter Notebook.
#2. Determine the type of '5':
type('5')

str

In [28]:
type(5)

int

In [29]:
#3. Now, add '5' and '7':
'5' + '7'

'57'

In [30]:
#4. Convert the '5' string to an int using the code mentioned in the following code snippet:
int('5')

5

In [31]:
#5. Add '5' and '7' by converting them to int first:
int('5') + int('7')

12

# vi.The input() Function
The input() function is a built-in function that allows user input.

# Exercise 12: The input() Function

In [32]:
#1. Open a new Jupyter Notebook.
#2. Ask a user for their name. Respond with an appropriate greeting:
# Choose a question to ask
print('What is your name?')

What is your name?

In [33]:
#3. Now, set a  variable that will be equal to the input() function, as mentioned in the following code snippet:
name = input()

Ajantha

In [34]:
#Finally, select an appropriate output:
print('Hello, ' + name + '.')

Hello, Ajantha.

# vii. String Indexing and Slicing
Indexing and slicing are crucial parts of programming

In [35]:
# Indexing
destination = 'San Francisco'

In [36]:
destination[0]

'S'

In [37]:
destination[1]

'a'

In [38]:
destination[-1]

'o'

In [39]:
destination[-2]

'c'

In [40]:
bridge="Golden Gate"

In [41]:
bridge[6]

' '

# viii. Slicing
A slice is a subset of a string or other element

In [42]:
#destination = 'San Francisco'
destination[4:11]

'Francis'

In [43]:
destination[0:3]

'San'

In [44]:
destination[:8]

'San Fran'

In [45]:
destination[-3:]

'sco'

In [46]:
destination[-3:]

'sco'